@import './base.css';

body {
    font-family: var(--mainfont);
}

.header {
    padding: 12px 0px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 40px;
}

.header .logo a {
    color: var(--maincolor);
}

.menu {
    display: none;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 17px
}

.navbar ul li a {
    color: #101928;
}

.active {
    font-weight: 700;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.auth a {
    font-family: var(--subfont);
    font-weight: 600;
    padding: 5px 25px;
    border: solid 2px var(--maincolor);
    border-radius: 10px;
}

.auth .login {
    color: var(--maincolor);

}

.auth .register {
    background-color: var(--maincolor);
    color: #FFFFFF;

}

@media screen and (max-width:992px) {

    .navbar,
    .auth {
        display: none;
    }

    .menu {
        display: block;
    }

}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 40px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 12px;
    }
}

.intro {
    padding: 60px 0;
}

.begin {
    flex-grow: 1;
}

.begin h1 {
    width: 450px;
    line-height: 70px;
    font-size: 55px;
}

.lets-begin {
    font-family: var(--subfont);
    color: var(--maincolor);
}

.lets-begin p:last-of-type {
    font-weight: 700;
}

.the-right-course {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.the-right-course span {
    color: var(--maincolor);
}

.the-right-course p {
    width: 450px;
    color: #969696;
}

.register-course {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.register-course .register {
    color: #FFFFFF;
    background-color: var(--maincolor);
    font-family: var(--subfont);
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 10px;
}

.play-video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.play-video img {
    width: 25px;
}

.play-video a {
    color: #141E32;
    font-family: var(--subfont);
    font-weight: 700;
}

.user-pic {
    width: 40%;
}

.user-pic img {
    width: 400px;
}

@media screen and (max-width: 992px) {

    .user-pic img {
        width: 300px;
    }

    .intro .row {
        gap: 40px;
    }
}

@media screen and (max-width: 480px) {
    .the-right-course p {
        width: 300px;
    }

    .begin h1 {
        width: 300px;
    }

    .courses {
        padding-top: 60px;
    }

    .courses .row {
        gap: 80px;
    }

    .courses-items {
        width: 60%
    }

    .courses-items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 80px;
    }

    .the-course {
        width: calc((100% - 30px) /2);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;

    }

    .the-course img {
        width: 100%;
        filter: brightness(70%);
        display: flex;
    }

    .course-card {
        position: relative;
        margin-bottom: 30px;
    }


    .course-info {
        color: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 15px;
        align-items: flex-start;
    }

    .course-info span:first-of-type {
        background-color: var(--maincolor);
        padding: 7px;
        margin-left: -15px;
        font-weight: 600;
        font-size: 14px;

    }

    .course-info span:last-of-type {
        align-self: flex-end;
        font-weight: 700;
    }

    .course-details .views {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }

    .course-details .views span {
        font-size: 12px;
        color: var(--maincolor);
    }

    .course-details .videos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 10px;
        margin-bottom: 20px;
        color: #969696;
        font-size: 14px;
    }

    .courses-description {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: flex-start;
        gap: 15px;
    }

    .courses-description p:first-of-type {
        font-family: var(--subfont);
        font-size: 14px;
        color: var(--maincolor);
    }

    .courses-description p:last-of-type {
        width: 350px;
        font-size: 15px;
        color: #969696;
        margin-top: 40px;
    }

    .courses-description a {
        width: fit-content;
        background-color: var(--maincolor);
        border-radius: 10px;
        padding: 7px 30px;
        color: #FFFFFF;
        font-family: var(--subfont);
        font-weight: 600;

    }

    @media screen and (max-width: 1400px) {

        .courses-items,
        .courses-description {
            width: 100%;
            margin: auto;
        }

        .courses-description p:last-of-type {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {

        .the-course {
            width: 100%;
        }

        .courses-description {
            width: 100%;
        }

    }

    .testimonials {
        padding: 60px 0;
    }

    .testimonials .row {
        gap: 30px;
    }

    .testimonials h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .testimonial {
        width: calc((100% - 30px) / 2);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 18px;
        position: relative;
    }

    .testimonial::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: solid 70px transparent;
        border-top: solid 70px #F4F4F4;
        border-left: solid 70px transparent;
    }

    .user-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .user-info img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .user-data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .user-data span {
        color: #969696;
    }

    .ratings {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }

    blockquote {
        color: #646464;
    }

    @media screen and (max-width: 768px) {
        .testimonial {
            width: 100%;
        }
    }


    footer {
        background-color: #393E46;
        color: #FFFFFF;
        padding: 50px 0;
    }

    footer .row {
        gap: 20px;
    }

    footer a {
        color: #FFFFFF;
    }

    .footer-start {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        width: calc((100% - 20px) / 2);
    }

    .footer-start .icons img {
        border: solid 1px #FFFFFF;
        padding: 5px;
        width: 20px;
        height: 20px;
    }

    .footer-end {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: calc((100% - 20px) / 2);

    }

    .footer-end .footer-items nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-end .footer-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }


    @media screen and (max-width: 768px) {

        .footer-start,
        .footer-end {
            width: 100%;
        }
    }

    @media screen and (max-width: 660px) {

        .footer-end,
        .footer-items {
            width: calc(100% / 2);
            margin: 0 auto 20px auto;
        }

    }


    @media screen and (max-width: 450px) {

        .footer-end,
        .footer-items {
            width: 100%;
            text-align: center;
        }
    }